---
import logo from "../../public/images/logo-osp.png"
---
<footer class="footer">
  <div class="shell">
    <div class="footer__inner">
      <nav class="footer__nav">
        <ul class="menu">
          <li class="menu-item"><a href="/services">Servicios</a></li>
          <li class="menu-item"><a href="/team">Equipo</a></li>
        </ul>
      </nav>

      <a href="/" class="footer__logo">
        <img
          src={logo.src}
          alt="OSP Abogadas"
        />
      </a>

      <nav class="footer__nav">
        <ul class="menu">
          <li class="menu-item"><a href="/about">Método</a></li>
          <li class="menu-item"><a href="/contact">Contacto</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer__bar">
      <p>
        <!-- <a class="hidden" href="/legal">Aviso legal</a>-->
      </p> 
    </div>
  </div>
</footer>
