---
// src/components/Header.astro
---

<header class="header">
  <div class="header__inner">
    <a href="/" class="logo">
      <img
        src="/images/logo-osp.png"
        alt="OSP Abogadas"
        loading="lazy"
      />
    </a>

    <div class="menu-toggle" data-menu-toggle>
      <span class="menu__box">
        <span class="menu__inner"></span>
      </span>
    </div>
  </div>
</header>
