<section class="section-navigation" data-nav>
  <div class="section__overlay" data-nav-overlay></div>
  <div
    class="section__inner flex flex-col items-end min-h-screen px-6 pt-10 pb-8"
    style="background-color:#0d0d0d;"
  >
    <!-- Cerrar -->
    <div class="menu-close mb-6" data-menu-close>
      <img
        src="https://www.stanchierifamilylaw.com/wp-content/themes/stanchieri-family-new/resources/images/icon-close.svg"
        alt="Cerrar menú"
        class="w-6 h-6 cursor-pointer invert"
      />
    </div>
    <!-- Menú -->
    <nav class="nav w-full">
      <ul class="menu flex flex-col items-end text-right space-y-3">
        <li class="menu-item">
          <a
            href="/services"
            class="text-[#f0f0f0] hover:text-[#d4b35a] transition-colors duration-200"
          >
            Servicios
          </a>
        </li>
        <li class="menu-item">
          <a
            href="/team"
            class="text-[#f0f0f0] hover:text-[#d4b35a] transition-colors duration-200"
          >
            Equipo
          </a>
        </li>
        <li class="menu-item">
          <a
            href="/about"
            class="text-[#f0f0f0] hover:text-[#d4b35a] transition-colors duration-200"
          >
            Método
          </a>
        </li>
        <li class="menu-item">
          <a
            href="/contact"
            class="text-[#f0f0f0] hover:text-[#d4b35a] transition-colors duration-200"
          >
            Contacto
          </a>
        </li>
      </ul>
    </nav>
    <!-- Botón -->
    <a href="/book-consultation" class="btn  md:mt-auto"> Reservar consulta </a>
  </div>
</section>
