---
const { subtitle, title } = Astro.props;
---

<section class="section-heading bg-osp">
  <div class="shell">
    {subtitle && (
      <h5 class="h5 text-osp-muted mb-2">
        {subtitle}
      </h5>
    )}

    {title && (
      <h2 class="h2 text-osp-accent">
        {title}
      </h2>
    )}
  </div>
</section>
